asgiref==3.11.1
black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
Django==6.0.5
django-cors-headers==4.9.0
django-environ==0.13.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
idna==3.13
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.9.6
PyJWT==2.12.1
pytokens==0.4.1
requests==2.33.1
ruff==0.15.12
sqlparse==0.5.5
stripe==15.1.0
typing_extensions==4.15.0
urllib3==2.7.0
whitenoise==6.12.0
